/*header css here */

.menu-wrapper {
    background-color: #313bd0;
    color: #fff;
    width: 56px;
    height: 350px;
    position: fixed;
    top: 30%;
    left: 100px;
    cursor: pointer;
    padding: 5px;
    border-radius:5px;
    transition-duration: 0.5s;
    z-index: 99999;
}
.text-wrapper {
    position: absolute;
    bottom: 0px;
    transform: rotate(-90deg);
    left: 50%;
    transform-origin: 0 50%;
    letter-spacing: 2px;
    font-weight: bold;
    transition: transform .3s ease .4s,opacity .3s ease .4s;
}
.icon-wrapper span {
    height: 4px;
    background-color: #fff;
    display: flex;
    width: 30px;
    margin: 0 auto;
    margin-top: 6px;
    transition-duration: 0.5s;
}
.icon-wrapper span:first-of-type {
    transition-duration: 0s;
}
.menu-wrapper.toggle-me {
    height:47px;
    background-color: #95e7e4;
}
.menu-wrapper.toggle-me .text-wrapper {
    top:-100px;
    visibility: hidden;
}
.toggle-me .icon-wrapper span:first-of-type {
    visibility: hidden;
}
.toggle-me .icon-wrapper span {
    background-color:#313bd0;
}
.toggle-me .icon-wrapper span:nth-of-type(2) {
    transform: rotate(45deg);
}
.toggle-me .icon-wrapper span:nth-of-type(3) {
    transform: rotate(-45deg);
    bottom: 10px;
    position: relative;
}
.menu-content-wrapper {
    background-color:#313bd0;
    position: absolute;
    height:100%;
    left:0px;
    width:0px;
    top:0px;
    transition-duration: 0.4s;
    visibility: hidden;
}
.menu-content-wrapper.toggle-menu {
    width: 100%;
    visibility: visible;
    z-index: 9999;
    position: fixed;
    top: 0px;
}
.custom-list-items {
    display: grid;
    height: 66.25%;
    order: 1;
    grid-template-areas: ". n1 n1 n1 n1 n2 n2 n2 n2 n2 n2 . " ". . . n3 n3 n3 n3 n4 n4 n4 n4 n4" "n5 n5 n5 n5 n5 n5 n6 n6 n6 n6 . . " ". . . . n7 n7 n7 n7 n7 n7 n7 n7";
    grid-auto-rows: auto;
    width:100%;
    max-width: 80%;
    margin: 0 auto;
    margin-top: 100px;
}
.height-full {
    height:100%;
}
.custom-list-inner-items {
    width: calc(100% - -2px);
    height: calc(100% - -2px);
    border: 2px solid #22e0d7;
}
.custom-list-inner-items a {
    width: 100%;
    height: 100%;
    display: block;
    text-align: right;
    padding: 10px;
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    transition: transform .3s cubic-bezier(.785,.135,.15,.86),background-color .3s cubic-bezier(.785,.135,.15,.86),color .3s cubic-bezier(.785,.135,.15,.86),-webkit-transform .3s cubic-bezier(.785,.135,.15,.86);
    transform: translateZ(0);
}
.custom-list-inner-items a:hover {
    color: #313bd0;
    background: #95e7e4;
    right: 15px;
    bottom: 15px;
    transition: transform .5s cubic-bezier(.175,.885,.32,1.275),background-color .3s cubic-bezier(.785,.135,.15,.86),color .3s cubic-bezier(.785,.135,.15,.86),-webkit-transform .5s cubic-bezier(.175,.885,.32,1.275);
    transform: translate3d(-8px,-12px,0);   

}
.custom-list-inner-items:first-child {
    grid-area: n1;
}
.custom-list-inner-items:nth-child(2) {
    grid-area: n2;
}
.custom-list-inner-items:nth-child(3) {
    grid-area: n3;
}
.custom-list-inner-items:nth-child(4) {
    grid-area: n4;
}
.custom-list-inner-items:nth-child(5) {
    grid-area: n5;
}
/* header css ends here */

.tab-section {
    z-index:2;
}

.tab-section .nav {
    align-items:center;
    justify-content: center;
    border: 0px;
}
.tab-section .nav-tabs .nav-link.active, .tab-section .nav-tabs .nav-item.show .nav-link, .tab-section .nav-tabs .nav-link:hover  {
    border-color: transparent;
    
    
}
.tab-section .nav-tabs .nav-item.nav-link {
    text-align: center;
    position: relative;
    color: #999;
}
.tab-section .nav-tabs .nav-link.active {
    color:#247eff;   
}
.tab-section .nav-tabs .nav-link.active::after {
    border: 6px solid transparent;
    border-top: 6px solid #247eff;
    content: ' ';
    position: absolute;
    bottom: -7px;
    left: 50%;
    margin-left: -6px;
    z-index: 999;
}
/*loader section */
.section-loader {
    background-color:#284135;
    height:100vh;
    position: relative;
    z-index: 999999;
}
/*loader css */
.loader {
    border: 1px solid #6ba287;
    border-radius: 50%;
    border-top: 1px solid #fff;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    transition-duration: 0.5s;
  }
  .loader-hidden {
    background-color: #fff;
    z-index: 2;
  }
  .loader-hidden .loader {
    left: 200px;
    bottom: 22px;
    top: auto;
    border-top: 1px solid #6ba287;
  }
  .circTxt {
    -webkit-animation: ccircle 10s infinite linear; 
    width: 100px;
    height: 100px;
    position: absolute;
    top: -100px;
    left: 237px;
    display: none;
  }
  .image-floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    width:80%;
    max-width:300px;
  }
  .img-dial {
    position: absolute;
    max-width: 263px;
    top: 40px;
    left: 0px;
    animation-name: floating;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out; 
  }
  .animated-watch-text {
      padding-top: 100px;
      padding-bottom: 100px;
  }
  .img-wrapper  {
      max-width:500px;
  }
  .img-wrapper:hover .circTxt {
      display: block;
  }
  @-webkit-keyframes circle {
    from {-webkit-transform: rotateZ(0deg)}
    to {-webkit-transform: rotateZ(360deg)}
}

@-webkit-keyframes ccircle {
    from {-webkit-transform: rotateZ(360deg)}
    to {-webkit-transform: rotateZ(0deg)}
}
  @keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(-15px, 15px); }
    to   { transform: translate(0, -0px); }    
}
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  /* @-moz-keyframes spinoffPulse {
    0% { -moz-transform:rotate(0deg); }
	100% { -moz-transform:rotate(360deg);  }
}
  @-webkit-keyframes spinoffPulse {
    0% { -webkit-transform:rotate(0deg); }
	100% { -webkit-transform:rotate(360deg); }
} */